// Defines the html structure of a project element
mixin project(title, date, description, url ,image, ...tags)
  a.project-card(href=url)
    if image
      .project-image(style='background-image: url(' + image +')')
    .project-body
      .project-title= title
      .project-date= date
      .project-description= description
      .tag-wrapper
        each tag in tags
          .tag= tag
